<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-sm-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Flight Summary</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group" *ngIf="selectedOrigin.flightNumber">
                    <h3>Origin Flight <b>#{{selectedOrigin.flightNumber}}</b></h3>
                    <li class="list-group-item"><label for="">From:</label> {{flight?.originCountry.shortName}}</li>
                    <li class="list-group-item"><label for="">To: </label> {{flight?.destinationCountry.shortName}}</li>
                    <li class="list-group-item"><label for="">Departure:</label> {{selectedOrigin.departure | date:'medium'}}</li>
                    <li class="list-group-item"><label for="">Arrival: </label> {{selectedOrigin.arrival | date:'medium'}}</li>
                </ul>
                <ul class="list-group" *ngIf="selectedReturn.flightNumber">
                    <h3>Return Flight <b>#{{selectedReturn.flightNumber}}</b></h3>
                    <li class="list-group-item"><label for="">To: </label> {{flight?.destinationCountry.shortName}}</li>
                    <li class="list-group-item"><label for="">From:</label> {{flight?.originCountry.shortName}}</li>
                    <li class="list-group-item"><label for="">Departure:</label> {{selectedReturn.departure | date:'medium'}}</li>
                    <li class="list-group-item"><label for="">Arrival: </label> {{selectedReturn.arrival | date:'medium'}}</li>
                </ul>

                <h3 *ngIf="totalCost>0">Total cost: ${{totalCost}}</h3>
            </div>
        </div>

    </div>
</div>