<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/index">Wizz sample app</a>
        </div>
    </div>

</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>