<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2">
        <div class="well well-lg">
            <form class="form-horizontal" novalidate [formGroup]="form">
                <fieldset>
                    <legend>Book your Flight</legend>

                    <hr/>
                    <!-- <p-autoComplete [(ngModel)]="country" [suggestions]="filteredCountries" (completeMethod)="filterCountrySingle($event)" field="name" [size]="30" placeholder="Countries" [minLength]="1"></p-autoComplete> -->
                    <div class="form-group">
                        <label for="inputOrigin" class="col-sm-2 control-label">Origin</label>
                        <div class="col-sm-10">
                            <p-autoComplete [style]="{'width':'100%'}" inputStyleClass="form-control" placeholder="origin" formControlName="originCountry" (onSelect)="originSelected()" [suggestions]="filteredOrigins" (completeMethod)="filterOriginSingle($event)"></p-autoComplete>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDestination" class="col-sm-2 control-label">Destination</label>
                        <div class="col-sm-10">
                            <select class="form-control" formControlName="destinationCountry" (change)="onDestinationChange($event.target.value)" id="select">    
                        
                                      <option  *ngFor="let dest of destinations" [value]="dest">{{dest}}</option>                              
                                    </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Derpature</label>
                        <div class="col-sm-10">
                            <p-calendar [style]="{'width':'100%'}" (onSelect)="departureSelected()" inputStyleClass="form-control" [minDate]="today" formControlName="derpatureDate"></p-calendar>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <p-inputSwitch (onChange)="switchChanged($event)" onLabel="One Way" offLabel="Return"></p-inputSwitch>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>

                    <div class="form-group ">
                        <label class="col-sm-2 control-label">Return</label>
                        <div class="col-sm-10">
                            <p-calendar [style]="{'width':'100%'}" (onSelect)="returnSelected()" inputStyleClass="form-control" [minDate]="returnMinDate" formControlName="returnDate"></p-calendar>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-sm-12" *ngIf="errorMsg!==''">
                            <div class="alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>Oh snap!</strong> {{errorMsg}}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-sm-offset-4">
                        <button [disabled]="form.invalid" type="button" class="btn btn-large btn-block btn-primary" (click)=submitForm()>View Flights</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>