<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-sm-offset-1">
        <h2 *ngIf="!showReturn">Select origin:</h2>
        <h2 *ngIf="showReturn">Select return:</h2>
        <hr/>
        <div *ngFor="let ticket of tickets">
            <div class="well well-lg" [ngClass]="{'return-bg': showReturn}">
                <h4>Flight at: <span class="text-info">{{ticket.departure| date:'shortTime' }}</span></h4>
                <h4>Arriving at: <span class="text-danger">{{ticket.arrival| date:'shortTime' }}</span></h4>
                <div class="row">
                    <div *ngFor="let fare of ticket.fares;  let i = index" class="col-sm-4">
                        <div class="panel text-center" [ngClass]="{'panel-success': checkSucess(fare), 'panel-warning':  checkWarning(fare), 'panel-danger': checkDanger(fare)}">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{fare.bundle}}</h3>
                            </div>
                            <div class="panel-body">
                                <h2>Price: <span [ngClass]="{'text-success': checkSucess(fare), 'text-warning':  checkWarning(fare), 'text-danger': checkDanger(fare)}">${{fare.price}}</span></h2>
                            </div>
                            <div class="panel-footer" *ngIf='ticket.remainingTickets>0'>
                                <button *ngIf='!fare.selected' (click)="selectFare(fare, ticket, i)" type="button" class="btn btn-lg btn-block btn-info  no-radius">Select</button>
                                <button *ngIf='fare.selected' (click)="unselectFare(fare, ticket)" type="button" class="btn btn-lg btn-block btn-success active no-radius">Selected <i class="fa fa-check" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="well well-lg">
            <h3>Destination Details:</h3>
            <ul class="list-group">
                <li class="list-group-item"><label>From:</label> {{flight?.originCountry.shortName}}</li>
                <li class="list-group-item"><label>To:</label> {{flight?.destinationCountry.shortName}}</li>
                <li class="list-group-item"><label>Departure:</label> {{flight?.derpatureDate| date:'mediumDate'}}</li>
                <li *ngIf="!flight?.oneWay" class="list-group-item"><label>Return:</label> {{flight?.returnDate | date:'mediumDate'}}</li>
            </ul>
        </div>
        <!-- <div class="well well-lg" *ngIf="selectedOrigin !== null && selectedOrigin !== undefined && selectedOrigin !== {}"> -->
        <div class="well well-lg" *ngIf="selectedOrigin.flightNumber">
            <h3>Selected Origin Flight:</h3>
            <li class="list-group-item"><label>Derpature:</label> {{selectedOrigin.departure | date:'shortTime'}}</li>
            <li class="list-group-item"><label>Arrival:</label> {{selectedOrigin.arrival | date:'shortTime' }}</li>
            <li class="list-group-item"><label>Price:</label> ${{selectedOrigin.selectedFare.price}}</li>
        </div>
        <div class="well well-lg" *ngIf="selectedReturn.flightNumber">
            <h3>Selected Return Flight:</h3>
            <li class="list-group-item"><label>Derpature:</label> {{selectedReturn.departure | date:'shortTime'}}</li>
            <li class="list-group-item"><label>Arrival:</label> {{selectedReturn.arrival | date:'shortTime' }}</li>
            <li class="list-group-item"><label>Price:</label> ${{selectedReturn.selectedFare.price}}</li>
        </div>
        <div class="well well-lg" *ngIf="totalCost>0">
            <h3>Total cost: ${{totalCost}}</h3>
        </div>
        <div *ngIf="!flight.oneWay">
            <button *ngIf="selectedOrigin.flightNumber && !showReturn" (click)="selectReturnFlight()" type="button" class="btn btn-lg btn-block btn-info no-radius go-button ">Select Return Flight<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            <button *ngIf="selectedReturn.flightNumber && showReturn" (click)="goToSummary()" type="button" class="btn btn-lg btn-block btn-info no-radius go-button ">Go to summary<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
        <div *ngIf="flight.oneWay">
            <button *ngIf="selectedOrigin.flightNumber" (click)="showModal()" type="button" class="btn btn-lg btn-block btn-warning no-radius go-button ">Add Return Flight<i class="fa fa-plane" aria-hidden="true"></i></button>
            <button *ngIf="selectedOrigin.flightNumber" (click)="goToSummary()" type="button" class="btn btn-lg btn-block btn-info no-radius go-button ">Go to summary<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
    </div>
</div>

<p-dialog [width]="600" [height]="500" [contentStyle]="{'overflow':'visible'}" header="Choose Return Date" [(visible)]="showDialog">
    <div class="ui-dialog-mcontent">
        <div class="form-group ">
            <label class="col-sm-2 control-label">Return</label>
            <div class="col-sm-10">
                <p-calendar [style]="{'width':'100%'}" inputStyleClass="form-control" [minDate]="returnMinDate" [(ngModel)]="returnSelectModal"></p-calendar>
            </div>
        </div>
        <button (click)="addReturnFlight()" type="button" class="btn btn-lg btn-block btn-success">Confirm</button>
    </div>
</p-dialog>