.panel-footer {
    padding: 0!important;
}

.panel-title {
    text-transform: capitalize;
}

.no-radius {
    border-radius: 0!important;
}

.go-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.return-bg {
    background-color: lightgoldenrodyellow;
}

.ui-dialog-mcontent {
    height: 100%!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: space-between!important;
}

.ui-dialog-content {
    height: 80%!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: space-between!important;
}